<?xml version="1.0"?>
<launch>

    <node pkg="rc4_path_execution" type="path_execution" respawn="false" name="path_execution" output="screen">
	<remap from="cmd_vel" to="/cmd_vel"/>
	<rosparam file="$(find youbot_navigation_common)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
	<rosparam file="$(find youbot_navigation_local)/config/local_costmap_params.yaml" command="load" />
	<rosparam file="$(find youbot_navigation_common)/config/base_local_planner_params.yaml" command="load" />
	<rosparam file="$(find youbot_navigation_common)/config/move_base_params.yaml" command="load" />
    </node>
</launch>
